{% extends 'base.html' %}

{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}

{% block content %}
<section class="goods-text container">
  <h2>{{ title }}</h2>
  <p>Shop for items based on what we featured in this week</p>
</section>
<section class="goods container">
  <div class="cards goods-card_1">
    <div class="img__wrapper">
      <img class="product-img" src="/static/img/goods/product_1.png" alt="product" />
      <button class="add-btn"><img src="/static/img/header/cart.png" alt="cart" /> Add to Cart</button>
    </div>
    <h3>ELLERY X&nbsp;M&rsquo;O CAPSULE</h3>
    <p class="goods__description">
      Known for her sculptural takes on&nbsp;traditional tailoring, Australian arbiter of&nbsp;cool Kym Ellery
      teams up&nbsp;with Moda Operandi.
    </p>
    <p class="goods__price">$52.00</p>
  </div>
  <div class="cards goods-card_2">
    <div class="img__wrapper">
      <img class="product-img" src="/static/img/goods/product_2.png" alt="product" />
      <button class="add-btn"><img src="/static/img/header/cart.png" alt="cart" /> Add to Cart</button>
    </div>
    <h3>ELLERY X&nbsp;M&rsquo;O CAPSULE</h3>
    <p class="goods__description">
      Known for her sculptural takes on&nbsp;traditional tailoring, Australian arbiter of&nbsp;cool Kym Ellery
      teams up&nbsp;with Moda Operandi.
    </p>
    <p class="goods__price">$52.00</p>
  </div>
  <div class="cards goods-card_3">
    <div class="img__wrapper">
      <img class="product-img" src="/static/img/goods/product_3.png" alt="product" />
      <button class="add-btn"><img src="/static/img/header/cart.png" alt="cart" /> Add to Cart</button>
    </div>
    <h3>ELLERY X&nbsp;M&rsquo;O CAPSULE</h3>
    <p class="goods__description">
      Known for her sculptural takes on&nbsp;traditional tailoring, Australian arbiter of&nbsp;cool Kym Ellery
      teams up&nbsp;with Moda Operandi.
    </p>
    <p class="goods__price">$52.00</p>
  </div>
  <div class="cards goods-card_4">
    <div class="img__wrapper">
      <img class="product-img" src="/static/img/goods/product_4.png" alt="product" />
      <button class="add-btn"><img src="/static/img/header/cart.png" alt="cart" /> Add to Cart</button>
    </div>
    <h3>ELLERY X&nbsp;M&rsquo;O CAPSULE</h3>
    <p class="goods__description">
      Known for her sculptural takes on&nbsp;traditional tailoring, Australian arbiter of&nbsp;cool Kym Ellery
      teams up&nbsp;with Moda Operandi.
    </p>
    <p class="goods__price">$52.00</p>
  </div>
  <div class="cards goods-card_5">
    <div class="img__wrapper">
      <img class="product-img" src="/static/img/goods/product_5.png" alt="product" />
      <button class="add-btn"><img src="/static/img/header/cart.png" alt="cart" /> Add to Cart</button>
    </div>
    <h3>ELLERY X&nbsp;M&rsquo;O CAPSULE</h3>
    <p class="goods__description">
      Known for her sculptural takes on&nbsp;traditional tailoring, Australian arbiter of&nbsp;cool Kym Ellery
      teams up&nbsp;with Moda Operandi.
    </p>
    <p class="goods__price">$52.00</p>
  </div>
  <div class="cards goods-card_6">
    <div class="img__wrapper">
      <img class="product-img" src="/static/img/goods/product_6.png" alt="product" />
      <button class="add-btn"><img src="/static/img/header/cart.png" alt="cart" /> Add to Cart</button>
    </div>
    <h3>ELLERY X&nbsp;M&rsquo;O CAPSULE</h3>
    <p class="goods__description">
      Known for her sculptural takes on&nbsp;traditional tailoring, Australian arbiter of&nbsp;cool Kym Ellery
      teams up&nbsp;with Moda Operandi.
    </p>
    <p class="goods__price">$52.00</p>
  </div>
</section>
<div class="button__wrapper container">
  <a href="#" class="more-btn"> Browse All Product </a>
</div>
{% endblock %}
